name: CI-CD Pipeline (Jenkins Style)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Backend Docker Image
        run: docker build -t backend-app ./backend

      - name: Build Frontend Docker Image
        run: docker build -t frontend-app ./frontend
